.details_scroll{
	padding-top: 1rem;
}
.details-box{
	padding-bottom: 0.84rem;
}
/*找工作介绍*/
.details_introduce{
    background: #fff;
    width: 100%;
    padding: 0.4rem 0.2rem 0.2rem;
}
.details_introduce p{
    font-size: 0.3rem;
    color: #333;
    padding: 0;
    line-height: 0.4rem;
    margin: 0;
}
.details_introduce .div1{
    height: 0.24rem;
    margin-top: 0.1rem;
    font-size: 0.2rem;
    color: #666;
}
.details_introduce .div1>span:first-child{
    float: left;
}
.details_introduce .div1>span:last-child{
     float: right;
}

/*间隔*/
.details_jg1 , .details_jg2{
    height: 0.22rem;
    width: 100%;
}

/*联系方式*/
.details_contact{
    width: 100%;
    background: #fff;
    padding: 0 0.2rem;
}
.details_con_title{
    padding: 0.2rem 0;
    border-bottom: solid 1px #C3C3C3;
    position: relative;
}
.details_con_title .d_t{
    font-size: 0.3rem;
    color: #333;
    margin-bottom: 0;
}
.details_con_title .d_a{
    font-size: 0.26rem;
    color: #666;
    margin: 0;
}
.details_con_title .d_l{
    font-size: 0.28rem;
    color: #000;
    position: absolute;
    right: 0;
    top: 0.34rem;
    
}
.details_con_phone{
    padding: 0.2rem 0;
    border-bottom: solid 1px #C3C3C3;
    position: relative;
}
.details_con_phone span:first-child{
    font-size: 0.24rem;
    color: #666;
    margin-right: 10px;
    vertical-align: middle;
}
.details_con_phone span:last-child{
    font-size: 0.24rem;
    color: #333;
    vertical-align: middle;
}
.details_con_phone a{
    width: 0.75rem;
    height: 0.75rem;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../img/icon/icon36.png") no-repeat center;
    background-size: 0.4rem 0.4rem;
}
.details_con_range{
    padding: 0.2rem 0;
    border-bottom: solid 1px #C3C3C3;
}
.details_con_range span:first-child{
    font-size: 0.24rem;
    color: #666;
    margin-right: 10px;
}
.details_con_range span:last-child{
    font-size: 0.24rem;
    color: #333;
}
.details_con_address{
    padding: 0.2rem 0;
}
.details_con_address span:first-child{
    font-size: 0.24rem;
    color: #666;
    margin-right: 10px;
}
.details_con_address span:last-child{
    font-size: 0.24rem;
    color: #333;
}

/*任务*/
.details_task{
    padding: 0.3rem 0.2rem;
    width: 100%;
    background: #fff;
    padding-top: 0.1rem;
}
.details_task p:first-child{
    font-size: 0.24rem;
    color: #666;
    margin: 0;
}
.details_task p:last-child{
    color: #333;
    font-size: 0.27rem;
    margin: 0;
    padding-top: 0.1rem;
}

/*图片*/
.details_photo{
    width: 100%;
    height: 2.22rem;
    padding: 0.2rem 0;
}
.details_photo_img li{
    display: inline-block;
    width: 2.87rem;
    height: 1.82rem;
    margin-right: 0.1rem;
}
.details_photo_img li img{
    display: block;
    width: 100%;
    height: 100%;
}
.details_photo .mui-slider-indicator{
    height: 100%;
}

/*举报*/
.details_jb{
    height: 1.3rem;
    padding: 0 0.2rem;
    width: 100%;
    line-height: 1.3rem;
    background: #fff;
}
.details_jb a{
	display: inline-block;
    width: 1.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    color: #2BB6F6;
    font-size: 0.3rem;
    border-radius: 6px;
    border: solid 1px #2BB6F6;
}


/*底部*/
.details_foot{
    width: 100%;
    height: 0.84rem;
    position: absolute;
    bottom: 0;
    z-index: 3;
}
.details_foot a{
    width: 50%;
    height: 100%;
    float: left;
    color: #fff;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.83rem;
}
.details_foot a i{
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    vertical-align: middle;
    margin-top: -0.1rem;
}
.details_foot a:first-child{
    background: #FF9800;
}
.details_foot a:last-child{
    background: #2BB6F6;
}
.details_foot a:first-child i{
    background: url("../img/icon/icon38.png") no-repeat center;
    background-size: 100% auto;
}
.details_foot a:last-child i{
    background: url("../img/icon/icon37.png") no-repeat center;
    background-size: 100% auto;
}
