.release{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFF url("../img/icon/icon40.png") no-repeat center 40%;
    background-size: 100% auto;
}
.rele-seek{
    width: 100%;
    height: 0.85rem;
    bottom: 1.6rem;
    position: absolute;
    text-align: center;
}
.rele-seek button{
    display: inline-block;
    height: 0.85rem;
    line-height: 0.85rem;
    padding: 0 20px;
    margin: 0;
    border: solid 1px #03A9F4;
    color: #03A9F4;
    font-size: 0.4rem;
    text-align: center;
    border-radius: 6px;
}