.user_information{
    width: 100%;
    height: 2.3rem;
    position: absolute;
    top: 1rem;
    padding: 0.32rem 0.28rem;
}
.user_portrait{
    width: 1.66rem;
    height: 1.66rem;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.user_portrait img{
    width: 100%;
    height: 100%;
    display: block;
}
.user_name{
    margin-left: 1.6rem;
    padding-left: 0.35rem;
    height: 100%;
}
.user_name .p_name{
    color: #000;
    font-size: 0.3rem;
    height: 0.3rem;
    line-height: 0.3rem;
    margin-top: 0.4rem;
}
.user_name .p_phone{
    color: #666;
    font-size: 0.27rem;
    height: 0.27rem;
    line-height: 0.27rem;
    margin-top: 0.3rem;
}
.user_information .user_trans{
    position: absolute;
    right: 0.52rem;
    top: 50%;
    margin-top: -12px;
}
.user_list{
    width: 100%;
    position: absolute;
    top: 3.3rem;
    padding: 0 0.2rem;
}
.user_menu{
    width: 100%;
}
.user_menu li{
    height: 0.9rem;
    line-height: 0.9rem;
    position: relative;
    background: #fff;
    border-bottom: solid 1px #EDEDED;
    padding-left: 1.14rem;
}
.user_menu li:last-child{
    border-bottom: 0;
}
.user_menu li span{
    color: #333;
    font-size: 0.27rem;
}
.user_menu_icon1 , .user_menu_icon2 , .user_menu_icon3 , .user_menu_icon4 , .user_menu_icon5 , .user_menu_icon6 , .user_menu_icon7{
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    left: 0.27rem;
    top: 0.15rem;
}
.user_menu_icon1{
    background: url("../img/icon/icon29.png") no-repeat center;
    background-size: 100% auto;
}
.user_menu_icon2{
    background: url("../img/icon/icon30.png") no-repeat center;
    background-size: 100% auto;
}
.user_menu_icon3{
    background: url("../img/icon/icon31.png") no-repeat center;
    background-size: 100% auto;
}
.user_menu_icon4{
    background: url("../img/icon/icon32.png") no-repeat center;
    background-size: 100% auto;
}
.user_menu_icon5{
    background: url("../img/icon/icon33.png") no-repeat center;
    background-size: 100% auto;
}
.user_menu_icon6{
    background: url("../img/icon/icon34.png") no-repeat center;
    background-size: 100% auto;
}
.user_menu_icon7{
    background: url("../img/icon/icon35.png") no-repeat center;
    background-size: 100% auto;
}
.user_menu .user_trans{
    position: absolute;
    right: 0.32rem;
    top: 0;
}
.user_padding{
    height: 0.39rem;
}
.user_exit{
    height: 0.82rem;
    width: 100%;
    position: absolute;
    bottom: 0.4rem;
}
.user_exit button{
    width: 6.8rem;
    height: 0.82rem;
    line-height: 0.82rem;
    text-align: center;
    background: #C3C3C3;
    font-size: 0.27rem;
    color: #333;
    margin: 0 auto;
    display: block;
    border-radius: 6px;
    padding: 0;
}

/*用户资料页面*/
.user-details-setPortrait{
    font-size: 0.27rem;
    padding: 0 10px;
    height: 0.66rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.user-details{
    width: 100%;
    position: absolute;
    left: 0;
}
.user-details-company{
    top: 3.3rem;
}
.user-details-phone{
    top:6rem;
}
.user-details li{
    background: #fff;
    height: 0.94rem;
    line-height: 0.94rem;
    border-bottom: solid 1px #C3C3C3;

    padding: 0 0.2rem;
    position: relative;
}
.user-details li:first-child{
    background: none;
    font-size: 0.3rem;
}
.user-details li p{
    color: #4E4E4E;
    font-size: 0.27rem;
    height: 100%;
    position: relative;
}
.user-details li p span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1.36rem;
}
.user-details li p input{
    margin: 0;
    margin-left: 1.36rem;
    width: 4.6rem;
    border: 0;
    font-size: 0.2rem;
    color: #333;
}
.user-details li i{
    width: 0.94rem;
    height: 0.94rem;
    display: block;
    background: url("../img/icon/icon5.png") no-repeat center;
    background-size: 0.4rem 0.4rem;
    position: absolute;
    right: 0.1rem;
    top: 0;
}

